* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    overflow: hidden;
  }
  
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .btn {
    font-size: 24px;
    color: white;
    text-decoration: none;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
  }

  .btn-main {
    font-size: 18px;
    margin: 10px;
  }
  
  
  .btn:hover {
    color: red;
  }
  
  #bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  }
  