* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
  }
  
  body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    overflow: hidden;
    cursor: hidden;
  }
  
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .btn {
    font-size: 24px;
    color: white;
    text-decoration: none;
    border: none;
    background: none;
    outline: none;
    cursor: none;
  }

  .btn-main {
    font-size: 18px;
    margin: 10px;
  }
  
  
  .btn:hover {
    color: red;
  }
  
  .title {
    font-size: 28px;
    color: white;
    text-decoration: none;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title-main {
    font-size: 18px;
    margin: 10px;
  }

  .title:hover {
    color: red;
  }
  
  .title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: red;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .title:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: red;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }
  
  .title:hover::before {
    transform: scaleX(1);
    transform-origin: bottom right;
  }

  
  #bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  }
  
  #login-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ffffff;
    border: none;
    padding: 10px;
    cursor: none;
    font-size: 16px;
  }
  
  #login-button a {
    text-decoration: none;
    color: #000000;
  }
  
  #login-button:hover {
    background-color: #cccccc;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 10px;
  }
  
  .grid-item {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  
  .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .grid-item .image-name {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .grid-item:hover .image-name {
    display: flex;
  }
  
  body {
    background-color: rgba(255, 255, 255, 0);
  }
  
  .upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
  }
  
  .upload-container h1 {
    margin-bottom: 20px;
  }
  
  .upload-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-wrapper {
    position: relative;
    display: inline-block;
    margin: 5px;
    width: 500px;
    height: 500px;
    overflow: hidden;
  }
  
  .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image-wrapper p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 18px;
    padding: 5px;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .image-wrapper:hover p {
    opacity: 1;
  }

  .broken-text {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    z-index: 1000;
  }
  
  .back-to-home {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    border: 1px solid #000;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .back-to-home:hover {
    background-color: #000;
    color: #fff;
  }

  .image-background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
  }
  
  .image-card {
  display: inline-block;
  margin: 10px;
  position: relative;
}

.image-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.image-card button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: none;
}

.image-card button:hover {
  background-color: #555;
}

.star-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  clip-path: polygon(50% 0%, 61% 35%, 100% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 0% 35%, 39% 35%);
  pointer-events: none;
  z-index: 9999;
}

body {
  margin: 0;
  padding: 0;
  background-color: grey;
}

.commissions-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 10%;
  background-image: ("/uploads/cat.jpg");
  background-size: cover;
}

.commissions-closed {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 3rem;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
}