body {
    font-family: Arial, sans-serif;
    position: relative;
    cursor: none;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .star {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: black;
    pointer-events: none;
  }
  